+++
# Date this page was created.
date = "2017-08-27"

# Project title.
title = "Verification of Statistical Forecasts for Tropical Cyclones"

# Project summary to display on homepage.
summary = "Verification procedure to be applied to statistical seasonal hurricane forecasts that takes into account the probabilistic nature of the forecast."

# Optional image to display on homepage (relative to `static/img/` folder).
image_preview = "katrina_nasa.jpg"

# Tags: can be used for filtering projects.
# Example: `tags = ["machine-learning", "deep-learning"]`
tags = ["stats"]

# Optional external URL for project (replaces project detail page).
external_link = ""

# Does the project detail page use math formatting?
math = false

# Optional featured image (relative to `static/img/` folder).
[header]
image = "headers/katrina_nasa.jpg"
caption = "Source: https://www.nasa.gov/"

+++

Seasonal hurricane forecasts are an important tool for hurricane preparedness and planning before the start of a hurricane season. Each year, U.S. forecasters predict the number of seasonal named storms, hurricanes, and major hurricanes that will occur in the Atlantic Basin (including the Caribbean Sea and the Gulf of Mexico), as well as in the North East Pacific. 

Statistical hurricane forecasts are probabilistic forecasts for the number of seasonal named storms to form in a particular area, where the probability distributions are estimated from past data. The available data record of reliable sources is relatively short, which makes drawing conclusions rather difficult. To improve forecasting and develop better hurricane preparedness strategies, forecasters must assess the validity of forecasting methods and quantify their uncertainty. 

This study proposes a verification procedure to be applied to statistical seasonal hurricane forecasts that takes into account the probabilistic nature of the forecast. The procedure is implemented in order to evaluate the impact (or the lack thereof) of using two variable selection methods, using forecasted ENSO indices, and to compare the skill of forecasts that use information up to March versus up to May in the Atlantic Basin. 